.box.bordered.wi-bg-white.wi-text &lt;div class="wi-bg-white"&gt;
.box.bordered.wi-bg-black.wi-text &lt;div class="wi-bg-black"&gt;

.box.bordered.wi-bg-striped.wi-text .wi-bg-striped

.box.wi-bg-actionsheet.wi-text .wi-bg-actionsheet

.outer
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt; on white
.outer.wi-bg-black
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt; on black
.outer.bg-red
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt; on red

.box.wi-bg-header.wi-text .wi-bg-header
.box.wi-bg-header.wi-text(style="height: 50px") .wi-bg-header + height: 50px
