.box.bordered.wi-bg-white.wi-text &lt;div class="wi-bg-white"&gt;
.box.bordered.wi-bg-black.wi-text &lt;div class="wi-bg-black"&gt;

.box.bordered.wi-bg-striped.wi-text &lt;div class="wi-bg-striped"&gt;

.box.wi-bg-actionsheet.wi-text &lt;div class="wi-bg-actionsheet"&gt;

.outer
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt;
.outer.wi-bg-black
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt;
.outer.bg-red
  .inner.wi-bg-alert.wi-text &lt;div class="wi-bg-alert"&gt;

.box.wi-bg-header.wi-text &lt;div class="wi-bg-header"&gt;
.box.wi-bg-header.wi-text(style="height: 50px") &lt;div class="wi-bg-header" style="height: 50px"&gt;
