!!!5
%html
  %head
    %title Wi Backgrounds
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    %link(rel="stylesheet" href="../widgets/backgrounds/wi-backgrounds.css" type="text/css" media="screen" title="" charset="utf-8")
    %style
      :plain
        .box { width: 300px; height: 100px; margin: 20px auto; border: 1px solid #777; }
  %body
    .box.wi-white
    .box.wi-black
    .box.wi-striped
