!!!5
%html
  %head
    %title Wi Demos
    %meta(name="viewport" content="width=device-width, user-scalable=no")
    %style
      :plain
        .box { width: 300px; height: 100px; margin: 20px auto; border: 1px solid #777; }
        .wi-slider { margin: 10px auto; width: 200px }
  %body
    %ul
      %li
        %a(href="demo-backgrounds.html") Backgrounds
      %li
        %a(href="demo-slider.html") Slider
